
* ::after, *::before{
    box-sizing: border-box;
}
body{
    margin: 0;
}


#jugadores-container{
    display: flex;
    
}
#jugador{
    margin-right: 20px;
    background-color: aqua;
}




#listaCartas{
    margin-right: 20px;
    background-color: beige;
    display: flex;
}

img{
    width: 10%

    
}
.botonesDinero{
    width: 50px;
    display:block
}
